[project]
name = "aura"
version = "0.1.0"
description = "Aura native system monitor."
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = []

[build-system]
requires = ["hatchling>=1.25.0"]
build-backend = "hatchling.build"
